<mat-form-field appearance="outline">
  <mat-label>Search debaters</mat-label>
  <div class="container-search">
    <input #search matInput [formControl]="searchBar">
    <mat-spinner *ngIf="isLoading" [diameter]="20"></mat-spinner>
  </div>
  <span matPrefix>
    <div class="container-search-icon">
      <mat-icon>search</mat-icon>&nbsp;&nbsp;&nbsp;
    </div>
  </span>
</mat-form-field>

<ng-container *ngIf="deviceTypeChecker.isMobile | async else userCards">
  <mat-list *ngFor="let user of users; trackBy: trackByFunction">
    <mat-list-item>
      <p mat-line>{{user.name}}</p>
      <p mat-line>@{{user.username}}</p>
      <button
        *ngIf="user.id"
        mat-raised-button
        class="diagonal-rounded-small"
        (click)="exploreService.sendConnectionRequest(user.id).subscribe()">
        Connect
      </button>
    </mat-list-item>
  </mat-list>
</ng-container>

<ng-template #userCards>
  <div class="user-cards">
    <mat-card *ngFor="let user of users; trackBy: trackByFunction" [class.mat-elevation-z5]="true">
      <span class="name">{{user.name}}</span><span class="username">@{{user.username}}</span>
      <button
        *ngIf="user.id"
        mat-raised-button
        class="diagonal-rounded-small"
        (click)="exploreService.sendConnectionRequest(user.id).subscribe()">
        Connect
      </button>
    </mat-card>
  </div>
</ng-template>

