.container-search {
  display: flex;
}
mat-form-field {
  position: sticky;
  top: 0;
  z-index: 1;
  width: 100%;
  background-color: white;

  .container-search-icon {
    display: flex;
    justify-content: center;
  }
}
mat-card {
  width: 30%;
}
.user-cards {
  display: flex;
  flex-wrap: wrap;
  gap: 20px 4.8%;
}
