<mat-form-field appearance="outline">
  <mat-label>Search debaters</mat-label>
  <input #search matInput [formControl]="searchBar">
  <span matPrefix>
    <div class="container-search-icon">
      <mat-icon>search</mat-icon>&nbsp;&nbsp;&nbsp;
    </div>
  </span>
</mat-form-field>

<ng-container *ngIf="deviceTypeChecker.isMobile | async else userCards">
  <mat-list *ngFor="let user of users; trackBy: trackByFunction">
    <mat-list-item>
      <p mat-line>{{user.name}}</p>
      <p mat-line>@{{user.username}}</p>
    </mat-list-item>
  </mat-list>
</ng-container>

<ng-template #userCards>
  <div class="user-cards">
    <mat-card *ngFor="let user of users; trackBy: trackByFunction">
      {{user.name}}
    </mat-card>
  </div>
</ng-template>

