@use '../../shared/styles/input-with-spinner.scss';

form {
  display: flex;
  flex-direction: column;
}
p.keep-me-logged-in {
  font-weight: lighter;
}
button.diagonal-rounded-large {
  width: 40%;
  color: white;
  margin-left: auto;
  margin-right: auto;
}
.container-mobile {
  display: flex;
  justify-content: space-between;

  mat-form-field.mobile {
    width: 100%
  }
  mat-icon {
    cursor: pointer;
    font-size: 1.2em;
  }
}
