<body>
  <form [formGroup]="form">
    <mat-form-field>
      <mat-label>Full name</mat-label>
      <input matInput formControlName="name">
    </mat-form-field>
    <p class="invalid"*ngIf="name?.hasError('pattern')">Give a valid name, buddy</p>

    <mat-form-field>
      <mat-label>Username</mat-label>
      <input matInput formControlName="username">
    </mat-form-field>
    <app-username-validation-errors [errors]="username?.errors"></app-username-validation-errors>

    <mat-form-field>
      <mat-label>Email</mat-label>
      <div class="container-input-with-spinner">
        <input #inputEmail matInput type="email" formControlName="email">
        <mat-spinner *ngIf="(email?.statusChanges | async) === 'PENDING'" [diameter]="25"></mat-spinner>
      </div>
    </mat-form-field>
    <div class="invalid">
      <p *ngIf="email?.hasError('pattern')">Give a valid email, buddy</p>
      <p *ngIf="(email?.statusChanges | async) === 'INVALID' && email?.hasError('isDuplicateEmail')">
        An account with the same email already exists
      </p>
    </div>
    <mat-form-field>
      <mat-label>Mobile</mat-label>
      <input matInput formControlName="mobile">
    </mat-form-field>
  </form>
</body>

