<body>
  <form [formGroup]="form" (ngSubmit)="formSubmit.emit()">
    <mat-form-field>
      <mat-label>Full name</mat-label>
      <input matInput formControlName="name" (blur)="controlBlur.emit($event)">
      <mat-error *ngIf="name?.hasError('pattern')">Give a valid name, buddy</mat-error>
    </mat-form-field>

    <mat-form-field>
      <mat-label>Username</mat-label>
      <div class="container-input-with-spinner">
        <input matInput formControlName="username" (blur)="controlBlur.emit($event)">
        <mat-spinner *ngIf="(username?.statusChanges | async) === 'PENDING'" [diameter]="17"></mat-spinner>
      </div>
      <mat-hint
        *ngIf="isUsernameAvailable"
        class="valid">
        Username is available!!!
      </mat-hint>
      <mat-hint
        class="invalid"
        *ngIf="(username?.statusChanges | async) === 'INVALID' && username?.hasError('isDuplicateUsername')">
        Username already taken. Try a different one
      </mat-hint>
      <mat-error *ngIf="usernameErrorMessageService.getErrorMessage(username) as message">{{message}}</mat-error>
    </mat-form-field>

    <mat-form-field>
      <mat-label>Email</mat-label>
      <div class="container-input-with-spinner">
        <input #inputEmail matInput type="email" formControlName="email" (blur)="controlBlur.emit($event)">
        <mat-spinner *ngIf="(email?.statusChanges | async) === 'PENDING'" [diameter]="17"></mat-spinner>
      </div>
      <mat-error *ngIf="email?.hasError('isDuplicateEmail')">An account with the same email already exists</mat-error>
    </mat-form-field>

    <div class="container-mobile">
      <mat-form-field class="mobile">
        <mat-label>Mobile</mat-label>
          <input matInput formControlName="mobile" readonly>
      </mat-form-field>
      <button mat-icon-button type="button" (click)="editMobileClicked.emit()"><mat-icon>edit</mat-icon></button>
    </div>

    <button class="diagonal-rounded-large" type="submit" mat-raised-button color="primary" [disabled]="isButtonDisabled">
      Update
    </button>
  </form>
</body>
