<body>
  <form [formGroup]="form">
    <mat-form-field>
      <mat-label>Full name</mat-label>
      <input matInput formControlName="name">
    </mat-form-field>
    <mat-form-field>
      <mat-label>Username</mat-label>
      <input matInput formControlName="username">
    </mat-form-field>
    <mat-form-field>
      <mat-label>Email</mat-label>
      <input #inputEmail matInput type="email" formControlName="email">
    </mat-form-field>
    <p *ngIf="(email?.statusChanges | async) === 'INVALID' && email?.hasError('isDuplicateEmail')">Duplicate</p>
    <mat-form-field>
      <mat-label>Mobile</mat-label>
      <input matInput formControlName="mobile">
    </mat-form-field>
  </form>
</body>

