<body>
  <div class="container-user-details-and-close-button">
    <div class="container-user-details">
      <p class="name">{{sessionService.readUser()?.name}}</p>
      <p class="username">{{sessionService.readUser()?.username}}</p>
    </div>
    <button *ngIf="isMobile" (click)="onCloseButtonClick()" mat-icon-button><mat-icon>close</mat-icon></button>
  </div>

  <button class="navigation" mat-button>Account</button>
  <button class="navigation" mat-button (click)="onLogoutClick()">Log out</button>
</body>
