<body>
  <div class="container-user-details-and-close-button">
    <div class="container-user-details">
      <p class="name">{{sessionService.readUser()?.name}}</p>
      <p class="username">{{sessionService.readUser()?.username}}</p>
    </div>
    <button *ngIf="isMobile" (click)="onCloseButtonClick()" mat-icon-button><mat-icon>close</mat-icon></button>
  </div>

  <button
    *ngFor="let button of navButtons index as i"
    [class]="i === clickedNavbuttonIndex ? 'nav-active' : 'nav'"
    mat-button
    (click)="clickedNavbuttonIndex = i"
    [routerLink]="button.route">
    <mat-icon
      *ngIf="!isMobile"
      [fontSet]="i === clickedNavbuttonIndex ? 'material-icons' : 'material-icons-outlined'">
      {{button.icon}}
    </mat-icon>
    <span class="nav-label">{{button.label}}</span>
  </button>

  <button class="logout" mat-button (click)="onLogoutClick()">Log out</button>
</body>
