@use '../../../assets/styles/screen-sizes';

body {
  display: flex;
  flex-direction: column;
  height: auto;
}
.container-user-details-and-close-button {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}
.container-user-details {
  margin-top: 3%;
  $width-close-button: 40px;
  $margin-left: 6%;
  margin-left: #{$margin-left};
  width: calc(100% - (#{$margin-left} + #{$width-close-button}));
}
p.name {
  font-size: 1.2em;
  margin-bottom: 0%;
  overflow-x: hidden;
}
p.username {
  font-weight: lighter;
  margin-top: 0%;
}
button.navigation {
  text-align: left;
  height: 50px;
}

@media only screen and (min-width: #{screen-sizes.$small-desktop-width}) {

}
