<body>
  <div class="container-user-details-and-close-button">
    <div class="container-user-details">
      <p class="name">{{sessionService.user?.name}}</p>
      <p class="username">{{sessionService.user?.username}}</p>
    </div>
    <button *ngIf="deviceTypeChecker.isMobile | async" (click)="onCloseButtonClick()" mat-icon-button><mat-icon>close</mat-icon></button>
  </div>

  <div *ngIf="!(deviceTypeChecker.isMobile | async)">
    <button
      *ngFor="let button of navService.navButtons | slice:0:-1 index as i"
      [class]="i === navService.clickedNavbuttonIndex ? 'nav-active' : 'nav'"
      mat-button
      [routerLink]="button.route"
      (click)="homeService.load(i)">
      <mat-icon
        *ngIf="!(deviceTypeChecker.isMobile | async)"
        [fontSet]="i === navService.clickedNavbuttonIndex ? 'material-icons' : 'material-icons-outlined'">
        {{button.icon}}
      </mat-icon>
      <span class="nav-label">{{button.label}}</span>
    </button>

    <div class="container-create-debate">
      <button
        mat-raised-button
        class="create-debate"
        color="primary"
        [routerLink]="navService.navButtons[NavButton.CREATE_A_DEBATE].route">
        Create a Debate
      </button>
    </div>

  </div>

  <button class="logout" mat-button (click)="onLogoutClick()">Log out</button>
</body>
