@use '../../shared/styles/screen-sizes';
@use '../../shared/styles/border-radius';
@use '../../shared/styles/colors';


body {
  display: flex;
  flex-direction: column;
  height: auto;
}
.container-user-details-and-close-button {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;

  .container-user-details {
    margin-top: 3%;
    $width-close-button: 40px;
    $margin-left: 6%;
    margin-left: #{$margin-left};
    width: calc(100% - (#{$margin-left} + #{$width-close-button}));

    p.name {
      font-size: large;
      margin-bottom: 0%;
      overflow-x: hidden;
    }
    p.username {
      font-weight: lighter;
    }
  }
}

button.nav, button.logout, button.nav-active {
  text-align: left;
  height: 50px;
  width: 100%;
}
.container-create-debate {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  margin-top: 30px;
}
button.create-debate {
  font-size: medium;
  background-color: #{colors.$primary-deep};
  width: 90%;
  border-radius: 30px 30px 30px 30px;
  height: 50px;
}
button.logout {
  margin-top: 10%;
}

@media only screen and (min-width: #{screen-sizes.$small-desktop-width}) {
  button.nav, button.nav-active {
    font-size: large;
    border-radius: #{border-radius.$large};
  }
  button.nav:hover, button.nav-active {
    background-color: #{colors.$primary-light};
    color: #{colors.$primary-deep};
  }
  span.nav-label {
    padding-left: 8%;
  }
}
