@use '../../../assets/styles/colors';

body {
  display: flex;
  justify-content: space-around;
  width: 100%;
}
button.navigation:active {
  background-color: #{colors.$primary-light};
  color: #{colors.$primary-deep};
}
