@use '../../../assets/colors';
@use '../../../assets/screens';

.inputs-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100%;
  margin-top: 5%;
}
.mobile-container {
  display: flex;
  justify-content: space-between;
}
::ng-deep mat-form-field, .invalid, .mobile-container {
  width: 80%;
}

.password {
  display: flex;
  flex-direction: row;
}
.mat-icon {
  cursor: pointer;
}
button.diagonal-rounded-large {
  color: white;
  width: 40%;
}
.valid {
  color: black
}
.invalid {
  color: red;
}
$form-field-dial-code-width: 60px;
$space: 23px;
mat-form-field.dial-code {
  width: $form-field-dial-code-width;
}
.dial-code-normal {
  font-weight: normal;
}
.dial-code-lighter {
  font-weight: lighter;
}
input.dial-code {
  width: 78%;
}
mat-form-field.mobile {
  width: calc(100% - (#{$form-field-dial-code-width} + #{$space}));
}
.country-container {
  display: flex;
  justify-content: space-between;
}

@media only screen and (min-width: 601px) {
  button.diagonal-rounded-large {
    width: 30%;
  }
}
