<form
  appFocusInvalidInput
  #formDirective="ngForm"
  [formGroup]="(isSignUp | async) ? signUpForm : loginForm"
  (ngSubmit)="onSubmit()">
  <div class="container-inputs">
    <mat-form-field *ngIf="isSignUp | async">
      <mat-label>{{inputDetails.name.label}}</mat-label>
      <input
        matInput
        [placeholder]="inputDetails.name.placeholder"
        formControlName="name"
        (input)="clearErrors(name)">
    </mat-form-field>
    <p
      class="invalid"
      *ngIf="name?.hasError('pattern')">
      Give a valid name, buddy
    </p>

    <mat-form-field *ngIf="isSignUp | async" class="username">
      <mat-label>{{inputDetails.username.label}}</mat-label>
      <div class="container-input-with-spinner">
        <input
          matInput
          [placeholder]="inputDetails.username.placeholder"
          formControlName="username">
        <mat-spinner *ngIf="(username?.statusChanges | async) === 'PENDING'" [diameter]="17"></mat-spinner>
      </div>
    </mat-form-field>
    <app-username-validation-errors [errors]="username?.errors"></app-username-validation-errors>
    <p *ngIf="(username?.statusChanges | async) === 'VALID'" class="valid">
      Username is available!!!
    </p>

    <p class="invalid-center" *ngIf="showLoginError">Invalid login details</p>
    <mat-form-field>
      <mat-label>{{inputDetails.email.label}}</mat-label>
      <div class="container-input-with-spinner">
        <input
          #inputEmail
          matInput
          type="email"
          [placeholder]="inputDetails.email.placeholder"
          formControlName="email"
          (input)="clearErrors(email, shouldAsyncValidateEmail)">
          <mat-spinner *ngIf="(email?.statusChanges | async) === 'PENDING'" [diameter]="17"></mat-spinner>
      </div>
    </mat-form-field>
    <div class="invalid" *ngIf="isSignUp | async">
      <p *ngIf="email?.hasError('pattern')">
        Give a valid email, buddy
      </p>
      <p *ngIf="(email?.statusChanges | async) === 'INVALID' && email?.hasError('isDuplicateEmail')">
        An account with the same email already exists
      </p>
    </div>

    <app-mobile-input
      *ngIf="isSignUp | async"
      [form]="form"
      [shouldAsyncValidateMobile]="shouldAsyncValidateMobile"
      (countryChanged)="country = $event; changeMobileValidator()"
>
    </app-mobile-input>

    <mat-form-field>
      <mat-label>{{inputDetails.password.label}}</mat-label>
      <div class="container-password">
        <input
        matInput
        [type]="credentialsService.getInputType()"
        [placeholder]="inputDetails.password.placeholder"
        formControlName="password">
        <mat-icon (click)="credentialsService.toggleVisibility()">{{credentialsService.getVisibilityIcon()}}</mat-icon>
      </div>
    </mat-form-field>

     <p
      class="invalid"
      *ngIf="(isSignUp | async) && password?.hasError('minlength')">
      Password must contain atleast 8 characters
    </p>

    <button class="diagonal-rounded-large" mat-raised-button type="submit" color="primary">{{buttonText}}</button>
  </div>
</form>
