@use '../../shared/styles/colors';
@use '../../shared/styles/screen-sizes';
@use '../../shared/styles/messages.scss';


.container-inputs {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100%;
  margin-top: 5%;

  .container-input-with-spinner {
    display: flex;
    justify-content: space-between;
    align-items: center;

    input{
      $mat-spinner-width: 25px;
      width: calc(100% - #{$mat-spinner-width});
    }
  }

  .container-mobile {
    display: flex;
    justify-content: space-between;
  }

  .container-password {
    display: flex;

    mat-icon {
      cursor: pointer;
    }
  }
}

mat-form-field, .container-mobile, app-username-validation-errors {
  width: 80%;
}

button.diagonal-rounded-large {
  color: white;
  width: 40%;
}

$form-field-dial-code-width: 60px;
$space: 5%;
mat-form-field.dial-code {
  width: #{$form-field-dial-code-width};
}
.dial-code-normal {
  font-weight: normal;
}
.dial-code-lighter {
  font-weight: lighter;
}
input.dial-code {
  width: 78%;
}
mat-form-field.mobile {
  width: calc(100% - (#{$form-field-dial-code-width} + #{$space}));
}

mat-option {
  height: unset;

  .container-country {
    display: flex;
    justify-content: space-between;
  }
}

@media only screen and (min-width: #{screen-sizes.$medium-screen-width}) {
  button.diagonal-rounded-large {
    width: 30%;
  }
}
