<form appFocusInvalidInput #formDirective="ngForm" [formGroup]="form" (ngSubmit)="onSubmit()">
  <div class="inputs-container">
    <mat-form-field *ngIf="isSignUp | async">
      <mat-label>{{inputDetails.name.label}}</mat-label>
      <input
        matInput
        [placeholder]="inputDetails.name.placeholder"
        formControlName="name"
       >
    </mat-form-field>
    <p
      class="invalid"
      *ngIf="name?.hasError('pattern')">
      Give a valid name, buddy
    </p>

    <mat-form-field *ngIf="isSignUp | async">
      <mat-label>{{inputDetails.username.label}}</mat-label>
      <input
        matInput
        [placeholder]="inputDetails.username.placeholder"
        formControlName="username"
      >
    </mat-form-field>
    <div class="invalid">
      <p
        *ngIf="username?.hasError('isTooSmall')">
        Username must be atleast 5 characters long
      </p>
      <p
        *ngIf="username?.hasError('isTooBig')">
        Username must only have a maximum of 30 characters
      </p>
      <p
        *ngIf="username?.hasError('disallowedStartingCharacter')">
        Username should not start with a period
      </p>
      <p
        *ngIf="username?.hasError('disallowedCharacter')">
        Username should only contain letters, numbers, periods and underscores
      </p>
      <p
        *ngIf="username?.hasError('consecutiveAllowedSpecialCharacter')">
        Username should not contain consecutive underscores or periods
      </p>
      <p
        *ngIf="username?.hasError('disallowedEndingCharacter')">
        Username should not end with a period
      </p>
    </div>

    <mat-form-field>
      <mat-label>{{inputDetails.email.label}}</mat-label>
      <input
        matInput
        type="email"
        [placeholder]="inputDetails.email.placeholder"
        formControlName="email">
    </mat-form-field>
    <p
      class="invalid"
      *ngIf="(isSignUp | async) && email?.hasError('pattern')">
      Give a valid email, buddy
    </p>

    <mat-form-field *ngIf="isSignUp | async">
      <mat-label>{{inputDetails.country.label}}</mat-label>
      <mat-select
        #countrySelect
        formControlName="country"
        [placeholder]="inputDetails.country.placeholder"
        (selectionChange)="onCountrySelectionChange($event.value)"
        (openedChange)="onCountryOpenedChanged()">
        <mat-select-trigger
          *ngIf="country?.value === labelUnknownDialCode; else countryName"
          class="invalid">
          {{countrySelect.value}}
        </mat-select-trigger>
        <ng-template
          #countryName>
          <mat-select-trigger class="valid">{{this.countries[countrySelect.value]?.name}}</mat-select-trigger>
        </ng-template>
        <mat-option>
          <app-mat-select-search
          [list]="countries"
          [searchProperties]="['dialCode', 'name']"
          [clearSearchInput]="true"
          (filtered)="filteredCountries = $event">
        </app-mat-select-search>
        </mat-option>
        <mat-option
          appMultiLine
          *ngFor="let country of filteredCountries; trackBy: trackFunction"
          [value]="getCountryIndex(country.name)">
          <div class="country-container">
            <p>{{country.name}}</p><p>{{country.dialCode}}</p>
          </div>
        </mat-option>
        <mat-option
          *ngIf="countrySelect.value === labelUnknownDialCode"
          [value]="labelUnknownDialCode">
          {{labelUnknownDialCode}}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <div class="mobile-container" *ngIf="isSignUp | async">
      <mat-form-field class="dial-code">
      <mat-label>Dial Code</mat-label>
        <div class="dial-code-container">
        <div [class]="classDialCode">+
          <input
            #dialCodeInput
            class="dial-code"
            required
            matInput
            [value]="_country.dialCode.replace('+', '')"
            (focus)="classDialCode = 'dial-code-normal'"
            (blur)="setDialCodeWeight()"
            (input)="onDialCodeKeyup()">
        </div>
      </div>
      </mat-form-field>

      <mat-form-field class="mobile">
        <mat-label>Mobile Number</mat-label>
        <input
          matInput
          formControlName="mobile">
      </mat-form-field>
    </div>

    <div
      class="invalid"
      *ngIf="(isSignUp | async) && mobile?.hasError('invalidMobile')">
      <p *ngIf="country?.value === labelUnknownDialCode; else invalidMobileForCountry">Invalid mobile number</p>
      <ng-template #invalidMobileForCountry>Invalid mobile number for the given country</ng-template>
    </div>

    <mat-form-field>
      <mat-label>{{inputDetails.password.label}}</mat-label>
      <div class="password">
        <input
        matInput
        [type]="credentialsService.getInputType()"
        [placeholder]="inputDetails.password.placeholder"
        formControlName="password"
        >
        <mat-icon (click)="credentialsService.toggleVisibility()">{{credentialsService.getVisibilityIcon()}}</mat-icon>
      </div>
    </mat-form-field>

     <p
      class="invalid"
      *ngIf="(isSignUp | async) && password?.hasError('minlength')">
      Password must contain atleast 8 characters
    </p>

    <button class="diagonal-rounded-large" mat-raised-button type="submit" color="primary">{{buttonText}}</button>
  </div>
</form>
