@use '../../../assets/colors';

.inputs {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100%;
  margin-top: 5%;
}
::ng-deep mat-form-field {
  width: 80%;

  .mat-form-field-underline {
    border-width: 1px;
    border-style: solid;
    border-color: colors.$deep-purple-5;
  }
}
