$primary-light: hsl(260, 100%, 95%);
$primary-1: hsl(260, 100%, 90%);
$primary-2: hsl(260, 100%, 85%);
$primary-4: hsl(260, 100%, 75%);
$primary-5: hsl(260, 100%, 70%);
$primary-deep: hsl(260, 100%, 65%);
