@use '../../../assets/styles/colors';

body {
  background-color: white;
}
.container-header {
  display: flex;
  align-items: center;

  span {
    font-size: large;
    font-weight: 500;
    color: #{colors.$primary-deep};
  }
}
