@use '../../shared/styles/colors';
@use '../../shared/styles/screen-sizes';


body {
  background-color: white;
}
.container-header {
  display: flex;
  align-items: center;

  span {
    font-size: large;
    font-weight: 500;
    color: #{colors.$primary-deep};
  }
}

@media only screen and (min-width: #{screen-sizes.$small-desktop-width}) {
  .container-header {
    span {
      font-size: 2em;
      padding-left: 20px;
    }
  }
}
