/* You can add global styles to this file, and also import other style files */
@use './app/shared/styles/colors';
@use './app/shared/styles/border-radius';
@import "~@angular/material/theming";

// Workaround for https://github.com/angular/material2/issues/4580.
@mixin mat-form-field-multiline-workaround($typography-config: null) {
  @if $typography-config == null {
    $typography-config: mat-typography-config();
  }

  .mat-form-field {
    // Copy-paste from @mat-form-field-typography();
    $line-height: mat-line-height($typography-config, input);
    $subscript-font-scale: 0.75;

    & & {
      &-underline {
        position: static;
      }

      &-subscript-wrapper {
        $subscript-margin-top: 0.5em / $subscript-font-scale;
        $subscript-min-height: $line-height * 1em;
        $subscript-margin-bottom: -#{$subscript-margin-top + $line-height};

        position: static;
        min-height: $subscript-min-height;
        margin-bottom: $subscript-margin-bottom;
      }
    }

    &-appearance-legacy &-subscript-wrapper {
        // Copy-paste from @mat-form-field-legacy-typography();
        $line-spacing: ($line-height - 1) / 2;
        $subscript-margin-top: 0.5em / $subscript-font-scale - ($line-spacing * 2);

        $subscript-min-height: $line-height * 1em;
        $subscript-margin-bottom: -#{$subscript-margin-top + $line-height};

        min-height: $subscript-min-height;
        margin-bottom: $subscript-margin-bottom;
    }
  }
}

@include mat-form-field-multiline-workaround();


html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
.mat-card.mat-card, button.diagonal-rounded-large, .dialog-diagonal-rounded > mat-dialog-container {
  border-radius: #{border-radius.$large};
}
button.diagonal-rounded-small {
  border-radius: #{border-radius.$small};
}
.mat-button-toggle.mat-button-toggle {
  background-color: #{colors.$primary-1};
}
.mat-button-toggle-checked.mat-button-toggle-checked {
  background-color: #{colors.$primary-2};
}
