@use '../../assets/styles/screen-sizes';

mat-sidenav-container {
  width: 100%;
  height: 100%;
}
mat-sidenav {
  display: flex;
  align-items: center;
  width: 240px;
}
@media only screen and (min-width: #{screen-sizes.$small-desktop-width}) {
  mat-sidenav {
    width: 270px;
  }
}
