<body>
  <mat-sidenav-container appAdaptSidenavToDevice (isMobile)="isMobile = navElements.isMobile = $event">
    <mat-sidenav #sidenav>
      <app-nav-elements #navElements (closeButtonClicked)="sidenav.close()"></app-nav-elements>
    </mat-sidenav>
    <mat-sidenav-content>
      <button *ngIf="isMobile" #buttonMenu mat-icon-button (click)="onMenuClick()"><mat-icon>more_vert</mat-icon></button>
      <router-outlet></router-outlet>
      <app-bottom-nav *ngIf="isMobile"></app-bottom-nav>
    </mat-sidenav-content>
  </mat-sidenav-container>
</body>
