<body>
  <mat-sidenav-container appAdaptSidenavToDevice>
    <mat-sidenav #sidenav [autoFocus]="false">
      <app-nav-elements #navElements (closeButtonClicked)="sidenav.close()"></app-nav-elements>
    </mat-sidenav>
    <mat-sidenav-content>
      <app-header
        *ngIf="!isExploreClicked()"
        (menuClicked)="sidenav.toggle()">
      </app-header>
      <div class="router-outlet" [class.router-top-pad-low]="isExploreClicked()">
          <mat-spinner *ngIf="homeService.isDataLoading || homeService.isRouting else routerOutlet" [diameter]="40"></mat-spinner>
          <ng-template #routerOutlet><router-outlet></router-outlet></ng-template>
      </div>
      <app-bottom-nav *ngIf="deviceTypeChecker.isMobile | async"></app-bottom-nav>
    </mat-sidenav-content>
  </mat-sidenav-container>
</body>
