<body>
  <mat-sidenav-container appAdaptSidenavToDevice (isMobile)="isMobile = navElements.isMobile = $event">
    <mat-sidenav #sidenav [autoFocus]="false">
      <app-nav-elements #navElements (closeButtonClicked)="sidenav.close()"></app-nav-elements>
    </mat-sidenav>
    <mat-sidenav-content>
      <app-header *ngIf="isMobile" (menuClicked)="sidenav.toggle()"></app-header>
      <div class="router-outlet">
        <router-outlet></router-outlet>
      </div>
      <app-bottom-nav *ngIf="isMobile"></app-bottom-nav>
    </mat-sidenav-content>
  </mat-sidenav-container>
</body>
