@use '../../assets/styles/screen-sizes';
@use '../../assets/styles/dimensions';

body {
  display: flex;
  justify-content: center;
}
app-input-fields {
  width: 90%;
}


@media only screen and (min-width: #{screen-sizes.$small-desktop-width}) {
  mat-card {
    display: flex;
    justify-content: center;
    height: fit-content;
    width: #{dimensions.$card-form-width};
    margin-top: #{dimensions.$card-form-margin-top};
  }
}
