<body *ngIf="!isLoading">
  <app-input-fields
    *ngIf="(deviceTypeChecker.isMobile | async); else inputFieldsWithCard"
    [form]="form"
    [isDuplicateUsername]="isDuplicateUsername"
    [isDuplicateEmail]="isDuplicateEmail"
    [usernameStatus]="usernameStatus"
    [isButtonDisabled]="isButtonDisabled"
    (inputFields)="inputFields.next($event)"
    (input)="onInput($event)"
    (controlBlur)="onControlBlur($event)"
    (editMobileClicked)="onEditMobileClicked()"
    (formSubmit)="updateUser()">
  </app-input-fields>

  <ng-template #inputFieldsWithCard>
    <mat-card [class.mat-elevation-z5]="true">
      <app-input-fields
        [form]="form"
        [isDuplicateUsername]="isDuplicateUsername"
        [isDuplicateEmail]="isDuplicateEmail"
        [usernameStatus]="usernameStatus"
        [isButtonDisabled]="isButtonDisabled"
        (inputFields)="inputFields.next($event)"
        (input)="onInput($event)"
        (controlBlur)="onControlBlur($event)"
        (editMobileClicked)="onEditMobileClicked()"
        (formSubmit)="updateUser()">
      </app-input-fields>
    </mat-card>
  </ng-template>
</body>
