@use '../../assets/colors';
@use '../../assets/screen-sizes';

body {
  display: block;
  background-image: linear-gradient(to top right, #{colors.$primary-deep}, #{colors.$primary-light});
  overflow: auto;
}
body.long-height {
  height: 100%;
}
body.normal-height {
  height: 100%;
}
.login-or-signup-form {
  display: flex;
  justify-content: center;
  align-items:center;
  height: 100%;
}
.mat-card {
 padding-top: 0%;
 padding-left: 0%;
 width: 90%;
 padding-right: 0%;
 box-shadow: -20px 20px 20px #{colors.$primary-5}, 20px 20px 20px #{colors.$primary-4};
}

app-header {
  display: flex;
  height: 50px;
}

@media only screen and (min-width: #{screen-sizes.$medium-screen-width}) {
  .mat-card {
    width: 600px;
  }
}

@media only screen and (min-width: #{screen-sizes.$small-mobile-height})
                   and (max-height: #{screen-sizes.$large-mobile-width}) and (orientation: landscape) {
  body.long-height {
    height: 700px;
  }
}
